body {
    text-align: center;
    background-image: url("../images/geometry2.png");
    height: 100%;
    width: 100%;
}

/* The Modal (background) */
.charModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Player Selection Content */
.imgHold {
    margin: 3%;
    display:inline-flex;
}

.imgHold:hover {
    background-image: url("../images/Selector.png");
    cursor: pointer;
}

/* Player Image Hover Animation */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    animation-name: bounce;
}

.firstHead {
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.35em;
    margin-bottom: -0.05em;
}

.firstHead span {
    font-size: 2em;
}

.leader {
    margin-bottom: 1.05em;
    text-align: center;
}

.leader span {
    margin-left: 2em;
    margin-right: 2em;
}

.stat {
    margin-bottom: 1.05em;
    text-align: center;
}

.stat span {
    margin-left: 2em;
    margin-right: 2em;
}

#reload {
    margin-right: 5em;
}

#reload:hover {
    cursor: pointer;
}

.health {
    margin-bottom: 1.05em;
    text-align: center;
}

progress {
    width: 15em;
    padding: 0.25em;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: rgba(49, 226, 18, 0.5)
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);

}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background: rgba(49, 226, 18, 0.5)
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
}

canvas {
    outline: 0.25em solid;
    outline-color: rgba(0, 0, 255, 0.5);
}

.keys {
    text-align: center;
}

.keyimg:hover {
    cursor: pointer;
}

#arrowone {
    margin-top: 3em;
}

#arrowup {
    height: 4em;
    width : 4em;
}

#arrowtwo {
    margin-top: -1em;
}

#arrowleft {
    margin: 0 0.70em 0 0 ;
    height: 4em;
    width : 4em;
}

#arrowright {
    margin: 0 0 0 0.75em;
    height: 4em;
    width : 4em;
}

#arrowthree {
    margin-top: -1em;
}

#arrowdown {
    height: 4em;
    width : 4em;
}